<div>
  <label>配送希望日（ご注文内容によっては、ポスト投函型の小型便で出荷します。その場合、ご希望によらず、最短日程でお届けします。）</label>
  <select name="attributes[desired-delivery-date">
 <option value="none">指定なし（最短日程で発送。通常1～5日で発送します。）</option><option value="2022/8/17">2022/8/17 (水) </option><option value="2022/8/18">2022/8/18 (木) </option><option value="2022/8/19">2022/8/19 (金) </option><option value="2022/8/20">2022/8/20 (土) </option><option value="2022/8/21">2022/8/21 (日) </option> 
  </select>
  <label>配送希望時間</label>
  <select name="attributes[desired-delivery-time">
    <option value="none">指定なし</option>
    <option value="午前中（8時-12時）">午前中（8時-12時）</option>
    <option value="12時-14時">12時-14時</option>
    <option value="14時-16時">14時-16時</option>
    <option value="16時-18時">16時-18時</option>
    <option value="18時-20時">18時-20時</option>
    <option value="18時-21時">18時-21時</option>
    <option value="19時-21時">19時-21時</option>
  </select>
</div>