<div class="line-login__container">

    <div class="line_login__button_container">
        <a href="/a/line/?domain={{shop.domain}}" class="line_login__button">
              {% render 'svg-icons' with 'line' %}
              <span class="button-text">{{ 'customer.login.line_login' | t }}</span>
        </a>
    </div>
    <div class="line_login__terms">
        <p>{{ 'customer.login.line_login_terms' | t }}</p>
    </div>
</div>