.brand-link-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0 0 3em;
}
.brand-link-list::after {
	content: "";
	display: block;
	flex: 1;
}
.brand-link-list .brand {
	width: calc(100% / 2);
	text-align: center;
	padding: 1em;
}
.brand-link-list .brand-link {
	position: relative;
	display: block;
	padding-top: 60%;
}
.brand-link-list .brand-logo-image {
	position: absolute;
	top: 0;
	display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.brand-link-list .brand-name {
	font-size: min(max(12px, calc(0.75rem + ((1vw - 5.6px) * 0.5))), 14px);
	font-weight: 700;
	line-height: 1;
	margin-top: .5em;
}
.brand-link-list .brand-name small {
	display: block;
	font-size: min(max(10px, calc(0.625rem + ((1vw - 5.6px) * 0.5))), 12px);
	font-weight: 400;
	margin-top: .5em;
}
@media (min-width: 560px) {
	.brand-link-list .brand {
		width: calc(100% / 3);
	}
}
@media (min-width: 960px) {
	.brand-link-list .brand {
		width: calc(100% / 5);
	}
}