.casualnote-pickup {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto 3rem;
} 
@media (max-width: 559px) {
	.casualnote .pickup-list .post-excerpt {
		display: none;
	}
}
@media (min-width: 560px) {
	.casualnote .pickup-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
	.casualnote .pickup-list .post-item.first {
		width: 100%;
	}
	.casualnote .pickup-list .post-item:not(.first) {
		flex: 1;
	}
	.casualnote .pickup-list .post-item {
		position: relative;
		margin: 10px;
	}
	.casualnote .pickup-list .post-item .post-image {
		margin: 0;
	}
	.casualnote .pickup-list .post-item .post-image a img {
		transition: .2s linear;
	}
	.casualnote .pickup-list .post-item .post-meta {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 80%;
		background: #fff;
		padding: 1rem 1rem .5rem .5rem;
	}
	.casualnote .pickup-list .post-title {
		font-size: 1.2rem;
	}
	.casualnote .pickup-list .post-item:not(.first) .post-title {
		font-size: 1rem;
	}
		
}
@media (min-width: 960px) {
	.casualnote .pickup-list {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 2fr 1fr;
		gap: 20px;
	}
	.casualnote .pickup-list .post-item {
		margin: 0;
	}
	.casualnote .pickup-list .post-item.first {
		grid-row: 1 / 3;
		grid-column: 1 / 2;
	}
	.casualnote .pickup-list .post-item.second {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
	}
	.casualnote .pickup-list .post-item.third {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}
}