.lower-links {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 0 2em;
}
.lower-links .lower-item {
	display: inline-block;
	margin: .3em;
}
.lower-links .lower-link {
	display: block;
	color: #fff;
	background-color: #789;
	font-size: .9em;
	line-height: 1;
	padding: 1em 1.5em;
	border-radius: 1.5em;
}
.lower-links .lower-link:hover {
	background-color: #09f;
}