.main-collection {
    padding: 40px 0;
}

.collection-main__sort {
    margin-bottom: 30px;
}

@media (min-width: 560px) {
    .main-collection {
        padding: 60px 0;
    }
}

.related-brands {
    padding: 40px 18px 50px;
    border-top: 1px solid #ddd;
    border-bottom: none;
}

.brand-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand-item {
    width: 165px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0/.05);
    padding: 15px 20px;
}

.brand-link {
    display: block;
    aspect-ratio: 2/1;
}

.brand-link>*,
.brand-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 560px) {
    .collection-main__sort {
        margin-bottom: 50px;
    }
    .brand-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}