.wishlist-title {
	margin: 1em 0;
}
.wishlist-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 12px;
	line-height: 1.4;
	margin: 0;
}
.wishlist-items::after {
	content: "";
	flex: 1;
}
.wishlist-item {
	display: block;
	width: 50%;
	margin-bottom: 1em;
}
.wishlist-item-card {
	position: relative;
	padding: .6em;
}
.wishlist-item-card .link {
	display: block;
	color: #222;
}
.wishlist-item-card .image-wrap {
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
}
.wishlist-item-card .image-wrap::after {
	content: "";
	display: block;
	padding-top: 100%;
}
.wishlist-item-card .image {
	position: absolute;
	max-height: 100%;
}
.wishlist-item-card .title {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;
	margin: 10px 0 5px;
	overflow: hidden;
}
.wishlist-item-card .price {
	font-family: "DIN Neuzeit Grotesk",sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #222;
	margin-bottom: 5px;
}
.wishlist-item-card .variant {
	font-size: 10px;
	color: #666;
	margin-bottom: 10px;
}
.wishlist-item-card .variant span {
	display: block;
}
.wishlist-item-card .add-to-cart {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	font-weight: 700;
	color: #E32C2B;
	padding: .5em;
	border: 2px solid #E32C2B;
	border-radius: 5px;
	outline: none;
	background: transparent;
	cursor: pointer;
	transition: .2s linear;
}
.wishlist-item-card .add-to-cart:hover {
	background: #E32C2B;
	color: #fff;
}
.wishlist-item-card .add-to-cart.in-cart {
	background: #ccc;
	color: #fff;
	border-color: #ccc;
	pointer-events: none;
}
.wishlist-item-card .add-to-cart.in-cart::before {
	content: "";
	display: inline-block;
	width: .5em;
	height: 1em;
	margin-right: .5em;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
}
.wishlist-item-card .swym-remove {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
}
.wishlist-item-card .swym-remove .close {
	display: block;
	width: 100%;
	height: 100%;
	background: 
	linear-gradient(#fff, #fff) center center / 2px 16px no-repeat,
	linear-gradient(#fff, #fff) center center / 16px 2px no-repeat,
	#222;
	border-radius: 50%;
	transform: rotate(45deg);
}
@media screen and (min-width: 560px) {
	.wishlist-items,
	.wishlist-item-card .title {
		font-size: 14px;
	}
	.wishlist-item-card .price {
		font-size: 18px;
	}
	.wishlist-item-card .variant {
		font-size: 12px;
	}
	.wishlist-item {
		width: calc(100% / 3);
	}
	.wishlist-item-card {
		padding: 1em;
	}
}
@media screen and (min-width: 960px) {
	.wishlist-item {
		width: calc(100% / 4);
	}
}